body, h3, p {
    padding: 0;
    margin: 0;
}

#z_content {
    width: 100%;
    height: 100%;
    min-width: 300px; /*��һЩ�ϵ��豸���� ���ܴ���һЩ��320��С����Ļ*/
    max-width: 640px; /*��Ϊ��������Ƹ�640px*/
    /*background: pink;*/
    margin: 0 auto;
    margin-bottom: 56px;
}

#z_content h3 {
    padding: 20px 0;
    border-bottom: solid 1px #dddddd;
    color: #818181;
    text-align: center;
    font-size: 20px;
}

.z_comment {
    margin: 10px;
    border-bottom: solid 1px #e3e3e3;
    position: relative;
}

.z_sp {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    /*border: solid 1px black;*/
    float: left;
    overflow: hidden;
}

.z_sp img{
    width: 40px;
    height: 40px;
}

.z_conts {
    display: inline-block;
    width: 200px;
    /*float: left;*/
}

.z_p1 {
    margin: 5px 0 0 10px;
    color: #535353;
    font-size: 14px;
}

.z_p2 {
    color: #d3d3d3;
    margin: 0 0 10px 10px;
    font-size: 12px;
}

.z_p3 {
    word-wrap: break-word;
    margin: 0 0 10px 10px;
    font-size: 14px;
    color: #6f6f6f;
}

.z_conright {
    float: right;
    color: #e8e8e8;
    position: absolute;
    right: 0;
    top: 0;
}

.z_conright img {
    float: right;
}

.z_release {
    width: 100%;
    background: #EBEBEB;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    
}

.z_ipt {
    width: 65%;
    height: 30px;
    margin: 10px 10px 10px 10px;
    border-radius: 7px;
    padding-left: 10px;
}

.z_btn {
    font-size: 14px;
    display: inline-block;
    height: 28px;
    width: 10%;
    line-height: 28px;
    border-radius: 13px;
    background-color: #ff3e3e;
    color: white;
    margin-top: 13px;
    padding: 0px 10px;
}

.z_cson {
    margin-left: 50px;
}

.z_whole {
    margin: 10px 0;
    font-size: 14px;
}

.z_tson {
    width: 79%;
}
